@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito Sans", sans-serif;
}

a.active{
    color: white !important;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);
}

.custom-btn{
    color: white;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);
}

.custom-gradient{
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);;
}