@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Josefin Sans", sans-serif;
}

a.active{
    color: white !important;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);
}

.custom-btn{
    color: white;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);
}

.custom-gradient{
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c98);;
}